@import url("animation.css");

#airplane-container {
  position: absolute;
  top: 6vh;
  right: 100vw;
  display: flex;
  align-items: center;
  animation: move-left 20s linear infinite;
  z-index: 10;
  pointer-events: none;
}

#airplane {
  width: 18vw;
  height: 14vw;
  background: url("../assets/airplane.png");
  background-size: cover;
}

#airplane-label {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  border-radius: 10px;
  color: white;
  font-family: comfortaa, sans-serif;
  font-size: 3vw;
  white-space: nowrap;
  animation: bounce 2s linear infinite;
  padding: 1vh 1vw;
  box-shadow: 0 4px 8px rgba(0 0 0 / 30%);
  border: 2px solid rgba(255 255 255 / 50%);
  text-shadow: 2px 2px 4px rgba(0 0 0 / 50%);
}
