@font-face {
  font-family: comfortaa;
  src: url("assets/Comfortaa-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: comfortaa, Tahoma, sans-serif;
  color: #15171a;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/*
  ======================================================================================================
  ||                                          MONTH-VIEW                                               ||
  ======================================================================================================
*/

.calendar-body {
  padding: 2vw;
}

.calendar-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.calendar-body .calendar-weekdays,
.calendar-body .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1vw;
}

.calendar-container {
  margin-top: 1vw;
  background: #fff;
  width: 90vw;
  max-width: 1200px;
  min-width: 300px;
  border-radius: 2vw;
}

.calendar-body .calendar-dates {
  margin-bottom: 1vw;
}

/* Use this to change the font of the week days (Monday, Tuesday, Wednesday,.., etc) */
.calendar-body .calendar-weekdays li {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5vw 0;
}

.calendar-body .calendar-weekdays .weekends,
.calendar-dates li.weekend {
  color: #d44e60;
}

/* Use this to change the rows in the calendar */
.calendar-body .calendar-dates li {
  margin-top: 0.5vw;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* Use this to change the color of dates that are in the past month or in the next month */
.calendar-dates li.inactive {
  opacity: 0.6;
  cursor: default;
}

/* Use this to change the background color of the current date */
.sticky-note .date.active {
  border-radius: 10px;
  border-radius: 10em;
  padding: 5px;
  background-color: #f0f0f0;
}

.calendar-body .calendar-weekdays {
  margin-bottom: 0;
}

/* Use this to change the color of dates that are in the past month or in the next month when hovering over them */
.calendar-dates li.inactive:hover::before {
  background: none;
}

/*
  ======================================================================================================
  ||                                          DAY-VIEW                                                 ||
  ======================================================================================================
*/

/* If you have a container that wraps around the .day-view element */
.wrapper {
  background-color: #f0f0f0; /* Light gray background color */
}

.day-view-hidden {
  display: none;
  width: 80%;
  height: 70vh;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(
    45deg,
    #ffb3ba,
    #ffdfba,
    #baffc9,
    #bae1ff,
    #babaff,
    #ffbaff,
    #ffb3ba
  );
  background-size: 600% 600%;
  animation: rainbow 20s ease infinite;
  border-radius: 8px;
  position: relative;
  overflow: auto; /* Ensure the day-view container does not overflow */
  border: 4px solid #8a2be2;
}

@keyframes rainbow {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* Styling for the date header */
.day-view-date {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
}

/* Styling for the journal entries section */
.journal-entries {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px; /* Add some padding to avoid hiding content behind the scrollbar */
  position: relative;
}

.journal-entries h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase; /* Uppercase letters */
  letter-spacing: 2px; /* Increase letter spacing */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  padding-bottom: 5px; /* Add some space below the border */
}

#journal-list {
  list-style-type: none;
  padding: 0;
}

#journal-list li {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); lint issue */
  border-radius: 8px;
}

/* Styling for the back button */
.back-button {
  width: 100px;
  padding: 10px;
  background-color: #3ddf0c;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.back-button:hover {
  background-color: #0056b3;
}

.add-button {
  margin-right: 10px;
  background-color: #3ddf0c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #0056b3;
}

.delete-button {
  float: right;
  background-color: #c00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #8a2be2;
}

/*
  ======================================================================================================
  ||                                         STICKY NOTE                                               ||
  ======================================================================================================
*/

.sticky-note {
  cursor: pointer;
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: #ffe8a3;
  color: #000;
  box-shadow: 0 10px 13px -7px #000, 1px 5px 3px 0 rgba(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.sticky-note:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 30px -10px rgba(0 0 0 0.4),
    1px 10px 6px 0px rgba(0, 0, 0, 0.1);
}

.sticky-note .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sticky-note .date {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5vw 0;
}

.sticky-note .title {
  font-size: 0.7em;
  margin: 0.5vw 0;
}

.sticky-note .more-tasks {
  font-size: 0.5em;
  margin: 0.5vw 0;
}

/*
  ======================================================================================================
  ||                                          END OF STICKY NOTE                                       ||
  ======================================================================================================
*/

/*
  ======================================================================================================
  ||                                          HEADER                                                   ||
  ======================================================================================================
*/

/* Use this to change the style of the current date header i.e April, 2024 */
.calendar-navigation span {
  cursor: pointer;
  margin: 0 10px;
}

/* Use this to change the style of the current date header i.e April, 2024 */
.calendar-current-date {
  font-size: 1vw; /* Make the font size responsive */
  margin: 0;
  font-family: raleway, Tahoma, sans-serif;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Use this to control the navigation buttons < > */
header .calendar-navigation span {
  margin: 0 1px;
  cursor: pointer;
  color: rgb(61 223 12);
  font-size: 35px;
}

/* More specific styles */
.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}
