@font-face {
  font-family: "raleway";
  src: url("assets/Raleway-Italic.ttf");
}

@font-face {
  font-family: "comfortaa";
  src: url("assets/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "josefinsans";
  src: url("assets/JosefinSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: comfortaa, Tahoma, sans-serif;
  color: #15171a;
}


body {
  margin: 0;
  padding: 0;
}
/* 
  ======================================================================================================
  ||                                          MONTH-VIEW                                               ||
  ======================================================================================================
*/
/* Use this to edit the calendar container as a whole */

/* Use this to change the style of the current date header i.e April, 2024 */
header .calendar-current-date {
  font-weight: 500;
  font-size: 42px;
  font-family: raleway, Tahoma, sans-serif;
}

.calendar-body {
  padding:50px;
}

.calendar-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.calendar-body .calendar-weekdays,
.calendar-body .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 200px); /* Set each column to 140px */
  column-gap: 100px; /* Set gap between columns */
  row-gap: 50px; /* Set gap between rows */
}

.calendar-container {
  background: #fff;
  width: 2000px;
  height: 1000px;
  min-width: 600px;
  border-radius: 30px;
}


/* Use this to control the navigation buttons < > */
header .calendar-navigation span {
  margin: 0 1px;
  cursor: pointer;
  color: rgb(61, 223, 12);
  font-size: 35px;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}


/* Use this to change the style of the current date header i.e April, 2024 */
header .calendar-current-date {
  font-weight: 500;
  font-size: 42px;
  margin:10px;
  font-family: raleway, Tahoma, sans-serif;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}


/* Use this to edit the individual dates in the calendar as a whole */


/* Use this to change the font of the week days (Monday, Tuesday, Wednesday,.., etc) */
.calendar-body .calendar-weekdays li {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0;
}

.calendar-body .calendar-weekdays .weekends, .calendar-dates li.weekend {
  color: #d44e60;
}

/* Use this to change the rows in the calendar */
.calendar-body .calendar-dates li {
  margin-top: 15px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* Use this to change the color of dates that are in the past month or in the next month */
.calendar-dates li.inactive {
  opacity: 0.6;
  cursor: default;
}




/* Use this to change the background color of the current date */
.sticky-note .date.active {
  color: #d44e60;
}


.calendar-body .calendar-weekdays {
  margin-bottom: 20px;
}

/* Use this to change the color of dates that are in the past month or in the next month when hovering over them */
.calendar-dates li.inactive:hover::before {
  background: none;
}

/* 
  ======================================================================================================
  ||                                          DAY-VIEW                                                 ||
  ======================================================================================================
*/

/* Use this to change the day-view container as a whole */ 
.day-view {
  background: #fff;
  margin: 100px 60px 40px 60px;
  width: 1000px;
  height: 750px;
  min-width: 600px;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Use this to change the style of the current date header i.e 4/26/2024 */
.day-view-date {
  margin-top: 60px;
  text-align: center;
  font-size: 42px;
}

/* Use this to edit the journal entries container, this includes: heading and lists */ 
.journal-entries {
  width: 750px;
  height: 400px;
  margin: 60px auto;
  text-align: left;
}

.journal-entries h3 {
  font-family: josefinsans, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Use this to edit the list container */ 
.journal-entries ul {
  list-style: none;
}

/* Use this to edit the journal entries */ 
.journal-entries li {
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
}

.journal-entries li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: palevioletred;
  font-weight: bold;
}

.journal-entries li:active {
  color: plum;
}

/* Use this to edit the back button */
.back-button {
  padding: 13px 23px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.back-button:hover {
  color: white;
}

.back-button:active {
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right bottom, palevioletred, lightsteelblue);
}

/* 
  ======================================================================================================
  ||                                         STICKY NOTE                                               ||
  ======================================================================================================
*/
.sticky-note {
  cursor: pointer;
  width: 100%;
  padding-top: 100%; /* This ensures the element is square */
  position: relative;
  background-color:#FFE8A3;
  color: #000;
  box-shadow: 0px 10px 13px -7px #000000, 1px 5px 3px 0px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.sticky-note .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sticky-note .date {
  font-size: 1vw;
  font-weight: bold;
  margin: 5px 0;
}

.sticky-note .title {
  font-size: 0.8vw;
  margin: 5px 0;
}

.sticky-note .more-tasks {
  font-size: 0.5vw;
  margin: 5px 0;
}

/* 
  ======================================================================================================
  ||                                          END OF STICKY NOTE                                       ||
  ======================================================================================================
*/



/* 
  ======================================================================================================
  ||                                          HEADER                                                   ||
  ======================================================================================================
*/


.calendar-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.calendar-navigation span {
  cursor: pointer;
  margin: 0 10px;
}

.calendar-current-date {
  font-weight: 500;
  font-size: 2vw; /* Make the font size responsive */
  margin: 0;
  font-family: raleway, Tahoma, sans-serif;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 2px solid #ccff00; /* Border color */
  border-radius: 2px;
  outline: none;
  font-size: 16px;
  background-color: #f0f0f0; /* Background color */
  color: #151515;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #ccff00; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #99cc00; /* Darker background color on hover */
}

