@font-face {
  font-family: roboto;
  src: url("../fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: comfortaa;
  src: url("../fonts/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: chakra;
  src: url("../fonts/ChakraPetch-Regular.ttf");
}

@font-face {
  font-family: lxgw;
  src: url("../fonts/LXGWWenKaiTC-Regular.ttf");
}

@font-face {
  font-family: seymour;
  src: url("../fonts/SeymourOne-Regular.ttf");
}
